<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    
  <appSettings>
    <add key="MaximumThreads" value="10"/>
    <add key="ConnectionString" value="Data Source=10.207.26.35;Initial Catalog=test;User ID=sa;Password=Password!"/>
  </appSettings>
 
</configuration>